language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

matrix:
    include:
        - php: 5.3
          dist: precise
        - php: 5.4
        - php: 5.5
        - php: 5.6
        - php: 7.0
    fast_finish: true

before_install:
  - if ! [[ "$TRAVIS_PHP_VERSION" == hhvm* ]]; then echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini; fi;
  - composer self-update
  - if ! [[ "$TRAVIS_PHP_VERSION" == hhvm* ]]; then phpenv config-rm xdebug.ini; fi;

install:
  - composer install

script:
  - ./vendor/bin/phpunit -v
